body {
    background-color: #393F4F;
}

.navbar-black{
    background-color: #232B38;
    box-shadow: 5px 5px 3px #000000;
}

.navbar-brand{
    color: #ffffff;
}

.page-header{
    color: #ffffff;
}

.panel
{
    box-shadow: 5px 5px 3px #000000;
}