body {
    background-color: #393F4F;
}

.navbar-black{
    background-color: #232B38;
    box-shadow: 5px 5px 3px #000000;
}

.navbar-brand{
    color: #ffffff;
}

.page-header{
    color: #ffffff;
    font-family:Arial;
}

.panel
{
    box-shadow: 5px 5px 3px #000000;
}

.panel-default>.panel-heading {
    background-color: #45A9B2;
    border-color: black;
    color: #ffffff;
    font-family:Arial;
}

.panel-default>.panel-body {
    background-color: whitesmoke;
}